<h3>List of Posts </h3>



<% @posts.each do |post| %>
   <li><%= link_to post.title, post_path(post) %></li>
<% end  %>

<br>

<%= link_to "Add new Post", new_author_post_path, class:"btn btn-danger" %>
<%= link_to "List of Authors", authors_path, class:"btn btn-default" %>
